*{
    margin: 0;
}

body{
    width: 100%;
    margin: 1%;
}

li{
    padding: .7rem;
    margin: 5px 0px 5px 0px;
    max-width: 50%;
    font-size: 1.2rem;
}

button{
    min-height: 4rem;
    width: 100%;
    max-width: 700px;
    padding: 1rem 4rem;
    font-size: 2rem;
    margin: 5px;
}

li:has(+ul){
    
    text-decoration: underline;
}

li ~ ul{
    display: none;
    text-decoration: none;
}


/* This selects the major bullets points
These are the first li within the ul in the arrayDiv div */
div > ul > li {
    font-size: 2.8rem;
    font-weight: 600;
    text-decoration: none;
}



form{
    width: 100%;
}

textarea{
    max-width: 95%;
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 7px;
}
 
/* li{
    border: 2px solid black;
    width: fit-content;
    max-width: 1000px;
} */